<h2 mat-dialog-title>Registrarse</h2>

<mat-dialog-content>
  <form class="form-container" [formGroup]="registerForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        placeholder="some@email.com"
        formControlName="email"
        matInput
        required
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" required="" />
    </mat-form-field>
  </form>
  @if(errorMessage) {
  <mat-error>{{ errorMessage }}</mat-error>
  }
  <br />
  <p>
    ¿Ya tienes una cuenta?
    <a mat-dialog-close (click)="onLogin()">Iniciar sesion</a>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button [disabled]="registerForm.invalid" (click)="onRegister()">
    Registrarse
  </button>
</mat-dialog-actions>
