@if (logged()) {
<button mat-icon-button (click)="handleLogout()">
  <mat-icon>exit_to_app</mat-icon>
</button>
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  @if(isAdmin()) {
  <button mat-menu-item routerLink="/registered-users">
    <mat-icon>people</mat-icon>
    Usuarios registrados
  </button>
    <button mat-menu-item routerLink="/bookmarked-products">
    <mat-icon>save</mat-icon>
    Productos guardados
  </button>
  <button mat-menu-item routerLink="/most-sold">
    <mat-icon>bar_chart</mat-icon>
    Mas comprados</button
  ><button mat-menu-item routerLink="/most-bookmarked">
    <mat-icon>bar_chart</mat-icon>
    Mas guardados
  </button>
  <button mat-menu-item routerLink="/top-buyers">
    <mat-icon>bar_chart</mat-icon>
    Mejores compradores
  </button>
  } @else {

  <button mat-menu-item routerLink="/purchases">
    <mat-icon>shopping_cart</mat-icon>
    Compras
  </button>
  <button mat-menu-item routerLink="/bookmarks">
    <mat-icon>save</mat-icon>
    Productos guardados
  </button>
  }
</mat-menu>
} @else {
<button mat-icon-button id="login-dialog-button" (click)="openLoginDialog()">
  <mat-icon>account_circle</mat-icon>
</button>
}
