@if (logged()) {
<button mat-icon-button (click)="handleLogout()">
  <mat-icon>exit_to_app</mat-icon>
</button>
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/purchases">
    <mat-icon>shopping_cart</mat-icon>
    Compras
  </button>
  <button mat-menu-item routerLink="/bookmarks">
    <mat-icon>favorite</mat-icon>
    Productos guardados
  </button>
</mat-menu>
} @else {

<button mat-icon-button (click)="openLoginDialog()">
  <mat-icon>account_circle</mat-icon>
</button>
}
