.content {
  display: flex;
}

.progress-bar {
  width: 100%;
}

.results {
  flex: 1;
  padding: 0 100px;
}

.filter-panel {
  width: 300px;
}


#thumbnail-wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
  margin: 5px;
}

#thumbnail-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}
